
.about{
   margin-top: 5rem;
}


.about-info{
    display: flex;
    flex-direction: column;
}

.about_details h2{
    padding: 0;
}

/*about read more button */
button{
    width: 11rem;
    padding:1rem  0;
    margin-top: 2rem;
    font-size: 1rem;
    background-color: #fff;
   
}



