
section{
    margin: 4rem 0;
}

.guestBook{
display: flex;
justify-content: space-between;
    /* height: 50vh; */
    padding-top: 5rem;
    /* gap: 4.5rem; */
}

.banner img {
    width:38vw;
    height: 25vw;

}

.info{
    display: flex;
    flex-direction: column;
    gap:2rem;
}


.description{
    margin-top: 2rem;
    line-height: 2rem;

}

.container{
    display: flex;
    gap: 4rem
}

.center_div {
    width:84vw;
    margin: 0 auto;

}


@import url('../About/about.css');
@import url('../GuestBook/geustBook.css')