@media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/

}

@media only screen and (min-width: 761px) and (max-width: 1200px){
    /*Big smartphones [426px -> 600px]*/
.center_div{
    width: 90vw;
    /* border: 1px solid; */
}

h2{
    text-align: center;
}
p{
    line-height: 2rem;
}
    .nav ul li {
            display: inline-block;
            padding-top: 1rem;
            cursor: pointer;
            margin-right: 1.5rem;
        }
        
        /* banner */

        .banner{
          padding-top: 5rem;
        }

                .banner img{
                    width: 44vw;
                }
 /* accompliment */
                .accomodate_container {
                    overflow-x: auto;
                    padding-top: 2rem;
padding-left: 48rem;
padding-right: 4rem;
scroll-behavior: smooth;
        
                }

        .heroText{
            top:rem
        }

        /* Our best section */
                .container_Ourbest  {
                   flex-direction: column;
                  /* padding-left: 5rem; */
                  margin-top: 5rem;

                }

.best_banner img{
    width: 90vw;
    height: 70vh;
}


/* footer---------------- */
                .footer_body{
                    display: flex;
                    gap: 2rem;
                  
                }
                .Lotue_address{
                    margin-right: 4rem;
                
                }
        
}

@media only screen and (min-width:200px) and (max-width: 760px) {
    /*Small smartphones [325px -> 425px]*/

/* body{
    letter-spacing: .4rem;
} */

html{
    font-size: .705rem;
}
           .center_div {
               width:90vw ;           
           }


h2{
    font-size: 2.5rem;
    text-align: center;
}


header{
    position: relative;
}




         .userDetails {
    
             display: none;
         }

         .regDetails{
            position: absolute;
            right: 5rem;
            
         }

nav .logo{
    width:calc(8rem - 1rem);
}

 .toggle_icon {
 display: block;
font-size:3rem - 1rem;
}


nav .nav_links {    
display: block;
    background-image: linear-gradient(rgba(255, 255, 255,.4),rgba(255, 255, 255, .6));
    position: absolute;
    top: 9em;
    right:0.6%;
    max-width: 50vw;
    padding: 1rem;
    text-align: center;
    z-index: 6;

}

/* glassMophism */

nav .nav_links{
    
    background:linear-gradient( rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.3));
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 10px;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
}

/* nav links */

.nav ul li {
display: block;
margin:0 2rem auto;
width: 30vw;
text-align: center;
    color: #ffff;
    font-weight: 1000;
}

.nav ul li:last-child{
    margin-bottom: 2rem;
}

.nav ul li:first-child{
    margin-top: 12rem;
}
.nav ul li:hover{
background-color: hsl(var(--buttonColor));

}

.nav ul li a:hover{
    color:#fff;
 
}


.nav_register_login{
    display: block;
    margin:0 auto;  
    text-align: center;
    margin: 2rem 0;
}

.nav_register_login a{
margin: 5%;
font-weight: 900;
}

/* ___________________________End of nav______________ */

.header {
    height: 100vh;
    background-image: url('./../img/img-4.jpg');
    background-repeat: no-repeat;  

}


.bottom_hero {
   display: flex;
   overflow-x:auto;
   transition: 1s overflow-x ease;
  
}

.heroText{
    position: absolute;
    width: 100vw;
    z-index: 1;
  
}

/* header text */
.heroText h1 {
  
    position: absolute;
    left: 50%;
    transform: translate(-50%, -8rem);
    /* text-shadow: 1px 1px 8px ; */
    font-size: 1rem;
    line-height: 5rem;
  
}

.heroText h1 span {
    display: block;
    font-size: 3rem;
    font-weight: 1000;
    
}

.bottom_hero .center_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */

}



/* header bottom */

.ArrivalDate div:last-child{
width: 12rem;
padding-left: 10px;
}


.ArrivalDate div:last-child{
font-size: 1rem; 
padding-left: 1REM;
min-width: 10em;

}
.ArrivalDate div{
    min-width: 10em;
    padding: 0;
    width: 45vw;
  
    
}

/* Arrival section */
.ArrivalDate div {
    display: flex;
    align-items: center;
    border: 1px solid #ffff;
    padding: 0rem 0rem;
    margin-right: 1rem;
    transition: .5s background;

}

.ArrivalDate div p{
margin:0 auto;
text-align: center;
}

 .Room_Rate_div {
  margin-right: 16rem;
 }

 .Room_Rate_div p {
     font-size: 2rem;
        min-width: 30vw;
    }

    /* Accomodation  section */

.accomodate_container{
overflow-x: auto;
padding-top: 2rem;


}


.accommodation{

  gap: 1rem;
}

/* accommodation */
.accomodate_container {
    padding-left: 24rem;
    /* padding-right: 20rem; */
}

.accommodation {
    width: 25rem;
}

.container {
    display: block;
    flex-direction:column;


}

.banner_container{
    display: none;
}




/* about */

.about {

    margin-top: 6rem;
   
}

.banner .about_img {
    width: 90vw;
    height: auto;
margin-bottom: 2rem;
}

/* Our best */
  


.container_Ourbest .best_banner img{
    width: 90vw;
    margin-top: 3rem;
}


.container_Ourbest{
    margin-top: 4rem;
    line-height: 2.5rem;
  padding-top: 3rem;
 
}

.container_Ourbest .BestList {
  display: block;
  min-height: 85vh;
  
}


.BestList .bests img{
width: 4rem;
margin: 0 auto;
margin-top: 0;

}


/* footer */

.footer_body .center_div,
.lotus_content,
.Lotue_address {
    display: flex;
   flex-direction: column;
   gap: 4rem;

}

.footer_top{
    flex-direction: column;
    height: 40vh;
}

.Lotue_address{
    gap: 1rem;
}
.Lotue_address img{
    max-width: 40vw;
    margin: 0 auto;
}

.footer_body{
   min-height: 100vh;
   text-align: center;

}

#tripAdvisor{
    margin: 0 auto;
}
.center_div{
    width: 90% !important;
}

}
