
.bottom_footer p,.footer_body,form button{
    color:rgb(180, 180, 180)
}


.bottom_footer {
    height: 8vh;
    background-color: hsl(var(--black));

}

.bottom_footer p{
    display: flex;
    justify-content: center;
margin: 2.2rem;
    text-align: center;
   
}

.copyRight_icon{
    margin-right: .5rem;
}